body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/leaves-pattern.png)
}
header {
    color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#everythingwrapper {
    max-width: 960px;
}
img{
    height: 200px;
    max-width: 200px;
    float: left
}
.text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 200%;
}
h2{
    color:#4aaaa5;
}
#myName {
    background-color: #4aaaa5;
    color: white;
}
#menu{
    margin-left: 1100px;
}
footer {
    background-color: #666666;
    padding-top: 25px;
    text-align: center;
}
main content {
    background-color: #ffffff;
    border-color: #dddddd;
}